<!DOCTYPE html>
<html>
  <head>
    <%= link_to "En", locale:"en" %>
    <%= link_to "Vi", locale:"vi" %>
    <title><%= yield(:title) %> | <%= t "base_title" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "translations", skip_pipeline: true %>
  </head>

  <body>
    <%= yield %>
    <script type="text/javascript">
      I18n.defaultLocale = "<%= I18n.default_locale %>";
      I18n.locale = "<%= I18n.locale %>";
    </script>
  </body>
</html>
